OPENAI_API_KEY=
GEN_AI_AGENT_ID=78e2be89e0d34f71b78cc72d42c1f889
GEN_AI_AGENT_NAME="Legal Diff Agent"
OTEL_SERVICE_NAME=legal-diff-agent
OTEL_ENVIRONMENT=dev
OTEL_EXPORT_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317